<div class="modal" [ngClass]="isModalActive? 'is-active': '' ">
  <div class="modal-background"></div>
  <div class="modal-card container is-fluid">
    <header class="modal-card-head">
      <p class="modal-card-title">{{snippet.title}}</p>
      <button class="delete" aria-label="close" (click)="closeSnippetModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div id="highlighted_code" class="column is-10">
          <pre  appSyntaxHighlight [code]="snippet.snippet">
          </pre>
        </div>
        <div class="column">
          <div id="language">
            <p>
              Language: {{snippet.language}}
            </p>
            <span id="tags">
              <p> Tags: </p> <p *ngFor="let tag of snippet.tags">{{tag.name}}&#32;</p>
            </span>

          </div>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="copyCodeClipboard()">
        <span class="icon is-small">
          <i class="fa-regular fa-clipboard"></i>
        </span>
        <span>Copy</span>
      </button>
      <button class="button is-warning" (click)="editCodeSnippet()">
        <span class="icon is-small">
               <i class="fa-solid fa-file-pen"></i>
        </span>
        <span>Edit</span>
      </button>

      <button class="button" (click)="closeSnippetModal()" >Cancel</button>
      <button class="button is-danger is-right" (click)="deleteCodeSnippet()">
        <span class="icon is-small">
          <i class="fa-solid fa-trash"></i>
        </span>
        <span>Delete</span>
      </button>
    </footer>
  </div>
</div>
