<app-navbar></app-navbar>
<app-snippet-show-dialog
  [modalActive]="isModalActive"
  [snippet]="snippet"
  (modalDeactivateEvent)="closeSnippetModal()"
  (editCodeSnippetEvent)="showAddEditCodeSnippet(snippet)"
>
</app-snippet-show-dialog>
<app-snippet-create-edit-dialog
  [modalActive]="isModalCreateEditActive"
  [snippet]="snippet"
  [languages]="languages"
  [tags]="tags"
  (modalDeactivateEvent)="closeSnippetCreateEditModal()"
>
</app-snippet-create-edit-dialog>
<div class="pt-2">
  <!-- Top Bar -->
  <div class="level">
    <!-- Left side -->
    <div class="level-left">
      <div class="level-item">
        <div class="field has-addons">
          <div class="dropdown" [ngClass]="showSearchMenu===true? 'is-active':''">
            <div class="dropdown-trigger">
              <p class="has-icons-left control">
                <input class="input" id="search-snippet" type="text" aria-hidden="true"
                       aria-controls="dropdown-search-result"
                       placeholder="Find a snippet" (input)="onSearchChange($event)">
                <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
              </p>
            </div>
            <div class="dropdown-menu pt-0 mt-0" id="dropdown-search-result" role="menu">
              <div class="dropdown-content">
                <a class="dropdown-item px-0"
                   *ngFor="let item of searchResultFirstThree">
                  <div class="pl-1 pr-4" (click)="showCodeSnippet(item.id)"
                       style="width: 100%">
                    {{item.title|slice:0:25}}{{ item.title.length > 25 ? '....' : '' }}
                  </div>
                </a>
                <p class="is-size-7"
                   *ngIf="searchResult.length>3">
                  see more...
                </p>
              </div>
            </div>
          </div>
          <p class="control">
            <button id="search-btn" class="button" (click)="showSearchResult(searchResult)">
              Search
            </button>
          </p>
        </div>
        <div class="level-item">
          <span class="pl-5">
            <span class="pr-2">
               <input type="checkbox">
            </span>
            <div class="dropdown pb-3">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Filter</span>
                  <span class="icon is-small">
                    <i class="fa-solid fa-filter" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <div class="dropdown-item">
                    <input class="input is-primary" type="text" placeholder="Language">
                  </div>
                  <hr class="dropdown-divider">
                  <span class="dropdown-item">
                    <label class="checkbox">
                      <input type="checkbox">
                      All
                    </label>
                  </span>
                  <hr class="dropdown-divider">
                  <span class="dropdown-item">
                    Language name
                  </span>
                </div>
              </div>
            </div>
          </span>
        </div>
        <div class="level-item" *ngIf="showSearchResultHeader">
          <span class="pb-3">
            <button class="button is-danger" (click)="closeSearchMode()">Reset</button>
          </span>
        </div>
      </div>
    </div>
    <!-- Right side -->
    <div class="level-right">
      <p class="level-item"><a class="button is-success" (click)="showAddEditCodeSnippet()">Create Snippet</a></p>
    </div>
  </div>
  <!--  Search Result-->
  <div class="level" *ngIf="showSearchResultHeader">
    <div class="level-left">
      <h5 class="title is-5 m-0">Search Results {{searchResultCount}}</h5>
    </div>
  </div>
  <!-- Snippets List -->
  <table class="table is-narrow is-hoverable is-fullwidth pt-2">
    <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th></th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let snippet of snippets">
      <td class="is-clickable" (click)="showCodeSnippet(snippet.id)">{{snippet.title}}</td>
      <td>{{snippet.language}}</td>
      <td><i class="fa-solid fa-file-export"></i></td>
      <td>{{snippet.date}}</td>
    </tr>
    </tbody>
  </table>
</div>
