<div class="modal" [ngClass]="isModalActive? 'is-active': '' ">
  <div class="modal-background"></div>
  <div class="modal-card container is-fluid">
    <header class="modal-card-head">
      <p class="modal-card-title">{{title}}</p>
      <button class="delete" aria-label="close" (click)="closeSnippetModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div class="column is-10">
          <ngx-codejar [highlightMethod]="highlightMethod" [(code)]="code"></ngx-codejar>
          <div class="block">
            <div class="is-inline-block">
              <div class="mt-3 select">
                <select [(ngModel)]="tag">
                  <option *ngFor="let tagElem of tags" [ngValue]="tagElem">{{tagElem.name}}</option>
                </select>
              </div>
              <button class="button mt-3" (click)="addTagList()">
                    <span class="icon is-small">
                      <i class="fa-solid fa-plus"></i>
                    </span>
              </button>
            </div>
          </div>
          <div class="block">
            <div class="field is-grouped is-grouped-multiline">
              <div class="control" *ngFor="let tag of tagList">
                <div class="tags has-addons">
                  <a class="tag is-link">{{tag.name}}</a>
                  <a class="tag is-delete" (click)="removeTagFromTagList(tag)"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
            <div class="block">
              <input class="input mb-5" type="text" [(ngModel)]="title" placeholder="Snippet name">
            </div>
            <div class="block">
              <div class="select">
                <select [(ngModel)]="langId">
                  <option *ngFor="let language of languages" value="{{language.id}}">{{language.name}}</option>
                </select>
              </div>
            </div>
            <div class="block">
              <div class="is-inline-flex">
                <input class="input" type="text" [(ngModel)]="url" placeholder="Add url">
                <button class="button" (click)="addUrlList()">
                    <span class="icon is-small">
                      <i class="fa-solid fa-plus"></i>
                    </span>
                </button>
              </div>
            </div>
            <div class="block">
              <div class="tags p-0 m-0 has-addons" *ngFor = "let url of urls">
                <span class="tag">{{truncate(url)}}</span>
                <a class="tag is-delete" (click)="removeUrlfromList(url)"></a>
              </div>
            </div>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button type="submit" class="button is-success" (click)="saveCodeSnippet()">
        <span class="icon is-small">
          <i class="fa-regular fa-clipboard"></i>
        </span>
        <span>Save</span>
      </button>
      <button class="button" (click)="closeSnippetModal()">Cancel</button>
      <button class="button is-danger is-right" (click)="clearSnippet()">
        <span class="icon is-small">
          <i class="fa-solid fa-delete-left"></i>
        </span>
        <span>Clear</span>
      </button>
    </footer>
  </div>
</div>
