<div class="modal" [ngClass]="isModalActive? 'is-active': '' ">
  <div class="modal-background"></div>
  <div class="modal-card container is-fluid">
    <header class="modal-card-head">
      <p class="modal-card-title">{{snippet.title}}</p>
      <button class="delete" aria-label="close" (click)="closeSnippetModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div class="column is-10">
          <pre>
            {{snippet.snippet}}
          </pre>
        </div>
        <div class="column">
          <div>
            <p>
              Language: {{snippet.language}}
            </p>
            <span>
              <p> Tags: </p> <p *ngFor="let tag of snippet.tags">{{tag}}&#32;</p>
            </span>

          </div>
        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="saveCodeSnippet()">
        <span class="icon is-small">
          <i class="fa-regular fa-clipboard"></i>
        </span>
        <span>Save</span>
      </button>
      <button class="button" (click)="closeSnippetModal()" >Cancel</button>
      <button class="button is-danger is-right" (click)="clearSnippet()">
        <span class="icon is-small">
          <i class="fa-solid fa-delete-left"></i>
        </span>
        <span>Clear</span>
      </button>
    </footer>
  </div>
</div>
